.form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        padding: 10x;
        width: 50%;
        margin: 0 auto;
}